@model IEnumerable<StudentManagement21A6.Models.Wyborca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WyborcaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Woj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WyborcaParty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WyborcaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Woj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WyborcaParty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WyborcaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WyborcaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WyborcaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
